@import url(https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap);

@font-face {
	font-family: Avant Garde;
	font-style: normal;
	font-weight: 600;
	src: url(fonts/4dd591d8-4168-4263-b05b-7183ddaff1f4.woff2) format("woff2"), url(assets/fonts/90882e39-7091-4415-b231-1e068ccdcc6f.woff) format("woff")
}

body {
	-webkit-user-select: none;
	/* Safari */
	-ms-user-select: none;
	/* IE 10 and IE 11 */
	user-select: none;
	/* Standard syntax */
	margin: 0;
}

h1 {
	font-size: 109px;
	line-height: 84%;
	position: absolute;
	letter-spacing: -.05em;
	font-style: normal;
	top: 20px;
	left: 50%;
	transform: translateX(-50%);
	color: #b7ab98;
	text-transform: uppercase;
	font-family: 'Avant Garde', sans-serif;
	font-weight: bold;
}

#tsparticles {
	min-height: 100%;

	/* important */
	width: 100%;
	/* set width */
	height: 1000px;
	/* set height */
}