@import url(https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap);

@font-face {
	font-family: Avant Garde;
	font-style: normal;
	font-weight: 600;
	src: url(fonts/4dd591d8-4168-4263-b05b-7183ddaff1f4.woff2) format("woff2"), url(assets/fonts/90882e39-7091-4415-b231-1e068ccdcc6f.woff) format("woff")
}

.header-fade {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 30%;
	background: linear-gradient(to bottom, rgb(0, 0, 0), rgba(0, 0, 0, 0));
	pointer-events: none;
	z-index: 1;
}


body {
	-webkit-user-select: none;
	/* Safari */
	-ms-user-select: none;
	/* IE 10 and IE 11 */
	user-select: none;
	/* Standard syntax */
	margin: 0;
	background-color: #111213;
}


.offset {
	translate: translateY(-20px);
}

.char {
	font-size: 180px;
	line-height: 84%;
	letter-spacing: -.05em;
	font-style: normal;
	text-transform: uppercase;
	font-family: 'Avant Garde', sans-serif;
	font-weight: bold;
	width: 50%;
	text-align: left;
	transform: translateX(30%);
}

.nameText {
	position: relative;
	left: 11px;
	box-sizing: content-box;
	color: rgb(183, 171, 152);
	display: block;
	font-family: "Avant Garde", sans-serif;
	font-size: 15.1348px;
	font-style: normal;
	font-weight: 700;
	height: 19.6719px;
	letter-spacing: 7.56738px;
	line-height: 19.6752px;
	rotate: none;
	scale: none;
	text-align: left;
	text-transform: uppercase;
	transform: matrix(1, 0, 0, 1, 0, 0);
	translate: none;
}

.lightLetter {
	color: #b7ab98;
}

.titleText {
	position: absolute;
	top: 10%;
	left: 45%;
	transform: translateX(-50%);
	box-sizing: content-box;
	color: rgb(183, 171, 152);
	display: block;
	font-family: "Avant Garde", sans-serif;
	font-size: 118.916px;
	font-style: normal;
	font-weight: 700;
	height: 499.453px;
	letter-spacing: -5.9458px;
	line-height: 99.8895px;
	margin-block-end: 0px;
	margin-block-start: 0px;
	margin-bottom: 0px;
	margin-inline-end: 0px;
	margin-inline-start: 0px;
	margin-top: 0px;
	perspective: 300px;
	text-align: left;
	text-transform: uppercase;
	unicode-bidi: isolate;
	user-select: none;
	width: 783.328px;
	-webkit-font-smoothing: antialiased;
}

.boldLetter {
	color: #eb5939;
}

#tsparticles {
	min-height: 100%;

	/* important */
	width: 100%;
	/* set width */
	height: 1000px;
	/* set height */
}

.contentBox {
	position: absolute;
	top: 105%;
	width: 100%;
	height: 1000%;
}

.links {
	text-align: center;
	position: fixed;
	display: block;
	left: 20px;
	bottom: 20px;
	text-align: right;
}

.link img {
	image-rendering: crisp-edges;

	width: 50px;
	height: 50px;
	margin: 10px;
	filter: invert(100%);
	transition: transform 0.3s;
}

@media(min-width: 768px)and (max-width:1199.98px) {
	.char {
		font-size: 100px;
	}
}

@media(max-width: 768px) {
	.char {
		font-size: 60px;
	}
}